.actionButtons__button {
    margin-bottom: 8px;
}

.addCard__form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.addCard__card{
    min-height: 80px;
    min-width: 272px;
    padding: 6px 8px 2px;
    margin-top: 8px;
}

.addCard__input{
    resize: none;
    width: 250px;
    outline: none;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
}

.addCard__closeIcon{
    margin-left: 8px;
    cursor: pointer;
}

.addCard__form__buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}