.list__container{
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.list__allLists{
    display: flex;
    justify-content: center;
}

.list__singleList{
    width: 300px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin:10px;
}