.addList__form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: teal;
    margin-bottom: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    width: 300px;
    box-sizing: border-box;
    height: 100px;
}

.addList__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
