.header__container {
    width: 80%;
    height: 7rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: teal;
    margin-bottom: 2rem;
    border-radius: 8px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:30%;
    font-size: larger;
    padding-bottom: 1rem;
}

.header__link__home {

}

.header__link__boards {

}